## Frontend Environment Variables for Production
# No default, must be set. Keep this pointing to the backend service in Docker
# Unless you change something, this should be http://backend:8000
DOCKER_API_URL=http://backend:8000
