## Build Environment Variables
# If ran in prod (docker-compose.build.yml for prod), the default value
# for NEXT_PUBLIC_API_URL will be empty, representing that fetch calls
# will be relative to the current domain (ideal when using a reverse proxy)
# If ran in dev (docker-compose.dev.yml for dev), the default value
# for NEXT_PUBLIC_API_URL will be http://localhost:8000, representing that
# fetch calls will be made to the backend running on localhost port 8000
# unless you override it here.
# Therefore, in normal usage, you should not modify this value here.
# Format: http(s)://domain:port or <empty> for relative
#NEXT_PUBLIC_API_URL=